{% extends 'base.html.twig' %}

{% block section %}
    <h1>Liste des membres inscrits</h1>
{{dump(users)}}
    <table>
        <thead>
            <tr>
                {% if is_granted('ROLE_ADMIN') %}
                <th>Id</th>
                {% endif %}
                <th>Pseudonyme</th>
                {% if is_granted('ROLE_ADMIN') %}
                <th>Mot de passe</th>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                <th>Salt</th>
                {% endif %}
                
                <th>Nom</th>
                <th>Prenom</th>
                <th>Date de naissance</th>
                <th>Equipe</th>
                {% if is_granted('ROLE_ADMIN') %}
                <th>Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                {% if is_granted('ROLE_ADMIN') %}
                <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                {% endif %}
                
                <td>{{ user.login }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                <td>{{ user.password }}</td>
                {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                <td>{{ user.salt }}</td>
                    {% endif %}
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{% if user.birthDate %}{{ user.birthDate|date('d-m-Y') }}{% endif %}</td>
                <td><a href="{{path('team_show',{'id':user.team.id})}}">{{ user.team.nom }}</a></td>
                
                {% if is_granted('ROLE_ADMIN') %}
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('user_show', { 'id': user.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('user_edit', { 'id': user.id }) }}">edit</a>
                        </li>
                        <li>
                             <a href="{{ path('user_new') }}">Ajouter un utilisateur</a>
                        </li>
                    </ul>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
